<div class="flex w-full h-full justify-center items-center">
    <div class="flex flex-col items-center">
        <div class="text-xl font-bold">Component Interaction</div>
        <p>Parent to child communication<span>Data comes from app component - <b>{{proData}}</b></span></p>
        <p>Child to parent communication <button class="bg-blue-200 p-2 m-2 rounded" (click)='onClick()' >Click me</button></p>
        <a class="bg-gray-200 p-2 m-2 hover:bg-blue-200 rounded" routerLink="/" >Go Back</a>
     </div>
</div>
