<div class="flex w-fill h-screen justify-center items-center">
    <div class="flex flex-col items-start">
        <div class="text-xl font-bold" >Structural Directives</div>
        <ul class="flex flex-col w-full justify-center list-inside list-decimal my-2 mb-12">
            <li>ngIf</li>
            <li>ngSwitch</li>
            <li>ngFor</li>
        </ul>
        <p><b>Undergoing ngIf statement</b></p>
        <div>ngIf with boolean expression<span *ngIf=true>am with boolean true</span></div>
        <div>ngIf with boolean variable <span *ngIf='directive; else elseBlock'>am boolean variable</span></div>
        <ng-template #elseBlock><span>am else statement</span></ng-template>
        <div *ngIf='directive; then thenBlock; else elseBlock2'></div>
        <ng-template #thenBlock >then block</ng-template>
        <ng-template #elseBlock2>else block</ng-template>
        <p><b>Undergoing ngSwitch statement</b></p>
        <div [ngSwitch]='case'>
            <div *ngSwitchCase="'blue'">blue</div>
            <div *ngSwitchCase="'red'">red</div>
            <div *ngSwitchCase="'yellow'">yellow</div>
            <div *ngSwitchDefault>hello am default</div>
        </div>
        <p><b>Undergoing ngFor statement</b></p>
        <div *ngFor ="let arr of array; index as i">
            <h5>{{i}} - {{arr}}</h5>
        </div>
        <ul  class="flex flex-col w-full justify-center list-inside list-decimal my-2 mb-12">
            <li>Assigning item from the array with of syntax</li>
            <li>denoting index as  <b>as</b> </li>
            <li>can get out the first , last , odd & even of array </li>
        </ul>
        <a class="bg-gray-200 p-2 m-2 hover:bg-blue-200 rounded" routerLink="/" >Go Back</a>
    </div>

</div>