<div class="flex w-full justify-center h-screen items-center">
  <div class="flex flex-col h-full items-start">
    <div class="text-center text-xl font-bold">Pipes</div>
    <div>{{ name | lowercase }}</div>
    <div>{{ text | uppercase }}</div>
    <div>{{ heading | titlecase }}</div>
    <div>{{ slice | slice: 3 }}</div>
    <div>{{ person | json }}</div>

    <div>{{ 5.68 | number: "3.3-3" }}</div>
    <table class="border rounded shadow-2xl m-2 p-2">
      <tr class="m-2 p-2">
        <td class="text-lg font-bold m-2 p-2">Id</td>
        <td class="text-lg font-bold m-2 p-2">Name</td>
        <td class="text-lg font-bold m-2 p-2">Action</td>
      </tr>
      <input
        [(ngModel)]="newElement.name"
        class="border-b border-2 border-gray-500 bg-gray-300"
        type="text"
      />
      <button (click)="addElement()" class="bg-green-400 px-3 py-2 m-2">
        Add data
      </button>
      <tr *ngFor="let employee of employees; index as i">
        <td class="text-lg font-normal m-2 p-2">{{ i + 1 }}</td>
        <td class="text-lg font-normal m-2 p-2">{{ employee.name }}</td>
        <td class="flex flex-row text-lg font-bold m-2 p-2">
          <button class="rounded bg-gray-300 m-2 text-sm px-3 py-2">
            edit
          </button>
          <button
            (click)="delete(employee, i)"
            class="rounded bg-red-300 m-2 text-sm px-3 py-2"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>

    <ul
      class="
        flex flex-col
        w-full
        justify-center
        list-inside list-decimal
        my-2
        mb-12
      "
      *ngFor="let employee of employees"
    >
      <button
        (click)="onSelect(employee)"
        [class.selected]="isSelected(employee)"
        style="padding: 4px; background-color: yellow"
      >
        {{ employee.id }}
      </button>
      <li>{{ employee | json }}</li>
    </ul>

    <a class="bg-gray-200 p-2 m-2 hover:bg-blue-200 rounded" routerLink="/"
      >Go Back</a
    >
  </div>
</div>
