<div style="justify-content: center;width: 100%;display: flex;font-size: large;">Pipes</div>
<div>{{ name | lowercase }}</div>
<div>{{ text | uppercase }}</div>
<div>{{ heading | titlecase }}</div>
<div> {{ slice | slice:3 }}</div>
<div>{{ person | json }}</div>

<div>{{ 5.68 | number:'3.3-3' }}</div>
<ul class="items" *ngFor="let employee of employees">
    <button (click)="onSelect(employee)" [class.selected] ="isSelected(employee)" style="padding: 4px;background-color: yellow;">{{ employee.id  }}</button>
    <li>{{employee | json }}</li></ul>