<div class="flex w-full h-screen justify-center items-center container my-8">
    <nav class="flex w-full h-full justify-center container my-4">
        <ul class="flex flex-col w-full h-full items-center list-inside list-none my-2 mb-12">
          <li class="m-4">
            <a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/architecture">Architecture</a>

          </li>
          <li  class="m-4" > <a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/bignnercomp">BignnerComponent</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/interpolation">Interpolation</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/property">Property</a></li>
          <li  class="m-4"> <a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/classbinding">ClassBinding</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/stylebinding">StyleBinding</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/eventhandling">EventHandling</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/twoway">Twoway</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/directives">Directives</a></li>
          <li  class="m-4"> <a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/componentinter">ComponentInteraction</a></li>
          {{message}}
         <app-componentinter (child)="message=$event" [proData]='name'></app-componentinter>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/pipes">Pipes</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/httprequest">HttpRequest</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/pipes">Routing params</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/form">Forms</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/reactiveform">Reactive Forms</a></li>
          <li  class="m-4"><a class="bg-gray-200 hover:bg-blue-200 text-black hover:text-blue-500 rounded my-2 p-2 " routerLink="/formbuilder">Form Builder</a></li>


        </ul>

      </nav>
</div>
