<div class="flex w-full h-screen items-center justify-center">
<form #userForm="ngForm" novalidate  (ngSubmit)="onSubmit()" class="flex flex-col w-2/5 items-center bg-blue-200 rounded-lg m-4 p-4">
<div class="text-xl font-bold my-4">Template Driven Form</div>
<!-- {{ userForm.form.invalid }} -->
<!-- {{ userModel | json }} -->
<div class="flex flex-row w-full ml-12  justify-start ">
    <div class="flex w-2/5">
        <div class="text-lg font-normal px-2 my-2">
        First Name
        </div>
    </div>

    <div class="flex w-3/5">
        <div class="px-2  my-2">
            <input type="text" required #first="ngModel" [class.is-invalid]="first.invalid && first.touched" class="rounded flex bg-gray-200 border shadow-xl p-2" placeholder="Enter First Name" name="firstname" [(ngModel)]="userModel.firstName"/>
            <small [class.d-none]='first.valid || first.untouched' class="text-red-500">First Name is required</small>
         </div>
        </div>
</div>

<div class="flex flex-row ml-12  w-full justify-start ">
    <div class="flex w-2/5">
        <div class="text-lg font-normal px-2 my-2">
        Last Name
        </div>
    </div>
    <div class="flex w-3/5">
        <div class="px-2  my-2">
            <input type="text" required #last="ngModel" [class.is-invalid]="last.invalid && last.touched" name="lastName" class="rounded flex bg-gray-200 border shadow-xl p-2" placeholder="Enter Last Name" [(ngModel)]="userModel.lastName" />
            <small [class.d-none]='last.valid || last.untouched' class="text-red-500">Last Name is required</small>
         </div>
    </div>
</div>
<div class="flex flex-row ml-12  w-full justify-start ">
    <div class="flex w-2/5">
        <div class="text-lg font-normal px-2  my-2">
        Email
    </div>
    </div>
    <div class="flex w-3/5">
        <div class="px-2  my-2">
            <input type="text" required #email="ngModel" [class.is-invalid]='email.invalid && email.touched' class="rounded flex bg-gray-200 border shadow-xl p-2" name="email" placeholder="Enter Email" [(ngModel)]="userModel.email" />
            <small [class.d-none]='email.valid || email.untouched' class="text-red-500">Email is required</small>
         </div>
    </div>
</div>
<div class="flex flex-row ml-12  w-full justify-start ">
    <div class="flex w-2/5">
    <div class="text-lg font-normal px-2  my-2">
        Phone Number
    </div>
    </div>
    <div class="flex w-3/5">
        <div class="px-2  my-2">
            <input type="text" required pattern="^\d{10}$" #number="ngModel" [class.is-invalid]="number.invalid && number.touched" class="rounded flex bg-gray-200 border focus:outline-none shadow-xl p-2" name="phonenumber" placeholder="Enter Phone Number" [(ngModel)]="userModel.phone" />
            <!-- <small [class.d-none]='number.valid || number.untouched' class="text-red-500">Phone number is require and must be 10 digits</small> -->
            <div *ngIf="number.errors && (number.invalid || number.touched)">
                <small class="text-red-500" *ngIf="number.errors['required']">phone number is required</small>
                <small class="text-red-500" *ngIf="number.errors['pattern']">phone number  must be 10 digits</small>
            </div>
         </div>
    </div>
</div>


<div class="flex justify-center my-4">
    <button [disabled]="userForm.form.invalid" type="submit" class="bg-blue-500 rounded p-2 m-2" >Submit</button>
</div>

</form>
<a class="bg-gray-200 p-2 m-2 hover:bg-blue-200 rounded"  routerLink="/" >Go Back</a>
</div>
