<p style="justify-content: center;width: 100%;display: flex;font-size: large;">eventhandling works!</p>
<button (click)="onClick()"> click me </button>
<button (click)="onClickEvent($event)"> click me for event  </button>
<p>Check out console to see the result</p>
<p>{{text}}</p>
<p style="justify-content: center;width: 100%;display: flex;font-size: large;">Template reference variable</p>
<p>syntax of variable is <b>#variableName</b></p>
<!-- <input #myInput type="text"  />
<button (click)="referenceClick(myInput.value)">click for value</button> -->